<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand text-white">
            <span id="currentUsernameNavbar"></span>
        </div>
        <div class="nav justify-content-end">
            <a class="nav-item">
                <a class="nav-link active link-secondary" aria-current="page" href="/logout">Logout</a>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="d-flex align-items-start">
        <div class="col-2 mt-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active no-refresh" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-selected="true">Admin</a>
                <a class="nav-link no-refresh" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user"
                   type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10 bg-light">
            <div class="container-fluid mt-3">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-admin"
                         role="tabpanel" aria-labelledby="v-pills-admin-tab">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active no-refresh" id="userTable-tab" data-bs-toggle="tab"
                                   href="#userTable"
                                   role="tab" aria-current="true">Users table</a>
                            </li>
                            <li>
                                <a class="nav-link no-refresh" id="newUser-tab" data-bs-toggle="tab" href="#newUser"
                                   role="tab" aria-current="false">New User</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="userTable">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>All users</h5>
                                    </div>
                                    <div class="card-body text-bg-primary bg-white">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="usersTable">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Вкладка добавления пользователя-->
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Add new user</h5>
                                    </div>
                                    <div class="card-body col-4 mx-auto text-center mt-3">
                                        <form id="newUserForm">
                                            <label for="username" class="form-label fw-bold mb-0">Username</label>
                                            <input type="text" class="form-control"
                                                   id="username"/>
                                            <br/>
                                            <label for="password" class="form-label fw-bold mb-0">Password</label>
                                            <input type="text" class="form-control"
                                                   id="password"/>
                                            <br/>
                                            <label for="age" class="form-label fw-bold mb-0">Age</label>
                                            <input type="number" class="form-control" id="age"/>
                                            <br/>
                                            <label for="email" class="form-label fw-bold mb-0">Email</label>
                                            <input type="text" class="form-control" id="email"/>
                                            <br/>
                                            <label for="role" class="form-label fw-bold mb-0">Role</label>
                                            <br/>
                                            <select class="form-select" multiple name="roles" id="role" size="2">
                                                <option name="ROLE_USER" value="2">USER</option>
                                                <option name="ROLE_ADMIN" value="1">ADMIN</option>
                                            </select>
                                            <br/>
                                            <div>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Окно обновления пользователя-->

                    <div class="modal fade" id="editModal"
                         tabindex="-1"
                         aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Edit user</h1>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <form id="modalBodyEdit">
                                        <fieldset disabled>
                                            <label for="edit-id"
                                                   class="form-label fw-bold mb-0">ID</label>
                                            <input type="text"
                                                   class="form-control mx-auto w-50"
                                                   data-user-id="id"
                                                   id="edit-id"/>
                                        </fieldset>
                                        <br/>

                                        <label for="edit-username"
                                               class="form-label fw-bold mb-0">Username</label>
                                        <input type="text"
                                               class="form-control mx-auto w-50"
                                               data-user-id="username"
                                               id="edit-username"/>
                                        <br/>

                                        <label for="edit-password"
                                               class="form-label fw-bold mb-0">Password</label>
                                        <input type="password"
                                               class="form-control mx-auto w-50"
                                               data-user-id="password" id="edit-password"/>
                                        <br/>

                                        <label for="edit-age"
                                               class="form-label fw-bold mb-0">Age</label>
                                        <input type="number"
                                               class="form-control mx-auto w-50"
                                               data-user-id="age"
                                               id="edit-age"/>
                                        <br/>

                                        <label for="edit-email"
                                               class="form-label fw-bold mb-0">Email</label>
                                        <input type="text"
                                               class="form-control mx-auto w-50"
                                               data-user-id="email"
                                               id="edit-email"/>
                                        <br/>

                                        <label for="edit-role"
                                               class="form-label fw-bold mb-0">Role</label>
                                        <br/>

                                        <select class="form-select mx-auto w-50"
                                                multiple="multiple"
                                                data-user-id="role" id="edit-role" size="2">
                                            <option name="ROLE_USER" value="2">USER
                                            </option>
                                            <option name="ROLE_ADMIN" value="1">ADMIN
                                            </option>
                                        </select>
                                        <br/>

                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary">Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Окно удаления пользователя-->

                    <div class="modal fade" id="deleteModal"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Delete user</h1>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <form id="modalBodyDelete">
                                        <fieldset disabled>
                                            <label for="delete-id"
                                                   class="form-label fw-bold mb-0">ID</label>
                                            <input type="text"
                                                   class="form-control mx-auto w-50"
                                                   data-user-id="id"
                                                   id="delete-id"/>
                                        </fieldset>
                                        <br/>

                                        <fieldset disabled>
                                            <label for="delete-username"
                                                   class="form-label fw-bold mb-0">Username</label>
                                            <input type="text"
                                                   class="form-control mx-auto w-50"
                                                   data-user-id="username"
                                                   id="delete-username"/>
                                        </fieldset>
                                        <br/>

                                        <fieldset disabled>
                                            <label for="delete-age"
                                                   class="form-label fw-bold mb-0">Age</label>
                                            <input type="number"
                                                   class="form-control mx-auto w-50"
                                                   data-user-id="age"
                                                   id="delete-age"/>
                                        </fieldset>
                                        <br/>

                                        <fieldset disabled>
                                            <label for="delete-email"
                                                   class="form-label fw-bold mb-0">Email</label>
                                            <input type="text"
                                                   class="form-control mx-auto w-50"
                                                   data-user-id="email"
                                                   id="delete-email"/>
                                        </fieldset>
                                        <br/>

                                        <fieldset disabled>
                                            <label for="delete-role"
                                                   class="form-label fw-bold mb-0">Role</label>
                                            <br/>
                                            <select class="form-select mx-auto w-50"
                                                    multiple="multiple"
                                                    data-user-id="role" id="delete-role"
                                                    size="2">
                                                <option name="ROLE_USER" value="2">USER
                                                </option>
                                                <option name="ROLE_ADMIN" value="1">
                                                    ADMIN
                                                </option>
                                            </select>
                                        </fieldset>
                                        <br/>

                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger">Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Вкладка пользователя-->
                    <div class="tab-pane fade" id="v-pills-user" role="tabpanel">
                        <h1>User information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                <h5>About user</h5>
                            </div>
                            <div class="card-body text-bg-primary bg-white">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="currentUser">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/admin.js"></script>
<script src="js/edit.js"></script>
<script src="js/delete.js"></script>
<script src="js/newUser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>